<!DOCTYPE html>
<html lang="pt">
	<head>
		<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Título</title> <!-- TODO Implementar função de título do Wordpress -->

	<link href="/static/css/styles.css" rel="stylesheet" media="screen">

<link href="/static/css/print.css" rel="stylesheet" media="print">
<!-- Favicons -->
<link rel="shortcut icon" href="/static/img/favicons/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-160x160.png" sizes="160x160" />
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-16x16.png" sizes="16x16" />
<meta name="msapplication-TileColor" content="#145351" />
<meta name="msapplication-TileImage" content="/static/img/favicons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/static/img/favicons/mstile-70x70.png" />
<meta name="msapplication-square144x144logo" content="/static/img/favicons/mstile-144x144.png" />
<meta name="msapplication-square150x150logo" content="/static/img/favicons/mstile-150x150.png" />
<meta name="msapplication-square310x310logo" content="/static/img/favicons/mstile-310x310.png" />
<meta name="msapplication-wide310x150logo" content="/static/img/favicons/mstile-310x150.png" />
<!--[if lt IE 9]>
	<script src="/static/lib/ltie9.min.js"></script>
<![endif]-->
	</head>
	<body>
		<!--[if lt IE 10]>
	<div class="ie-alert alert alert-danger">
		<div class="container">
			<div class="row">
				<div class="col-md-8"><p><strong>Atenção</strong>: o seu navegador está desatualizado e pode colocar seu computador em risco.</p></div>
				<div class="col-md-4"><a href="http://www.whatbrowser.org/intl/pt-BR/" target="_blank" class="btn btn-danger">Clique aqui para atualizar seu navegador</a></div>
			</div>
		</div>
	</div>
<![endif]-->
		
		<div class="container">
	<section class="row">
		<article class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 iasd-error-404">
			<h1>Igreja Adventista do Sétimo Dia</h1>
			<h2>Desculpe-nos, aconteceu um erro inesperado :(</h2>
			<p>A página "<em>http://www.adventistas.org/pt/nome-errado</em>" não existe no Portal Adventista.</p>
			<a href="javascript:history.back(-1)" title="Clique aqui para retornar à página anterior" class="btn btn-default">« Clique aqui para retornar à página anterior</a>
			<hr />
			<h3>Faça uma busca</h3>
			<form>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Insira as palavras-chave aqui">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Buscar</button>
					</span>
				</div>
			</form>
		</article>
	</section>
</div>

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/lib/iasd-bootstrap.min.js"></script>





<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
	</body>
</html>