<!DOCTYPE html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>IASD Bootstrap</title>
		<link href="/static/css/styles.css" rel="stylesheet" media="screen">
		<!--[if lt IE 9]>
			<script src="/static/lib/ltie9.min.js"></script>
		<![endif]-->
		<title>IASD Bootstrap</title>
	</head>
	<body>
		<footer style="margin: 0;">
			<div class="container">
				<div class="row">
					<div class="col-md-2 visible-md visible-lg">
						<h1>Sobre Nós</h1>
						<ul>
							<li><a href="#" title="Os Adventistas">Os Adventistas</a></li>
							<li><a href="#" title="Crenças">Crenças</a></li>
							<li><a href="#" title="Missão e Serviço">Missão e Serviço</a></li>
							<li><a href="#" title="Organização">Organização</a></li>
						</ul>
					</div>
					<div class="col-md-2 visible-md visible-lg">
						<h1>Departamentos</h1>
						<ul>
							<li><a href="#" title="ADRA">ADRA</a></li>
							<li><a href="#" title="AFAM">AFAM</a></li>
							<li><a href="#" title="ASA">ASA</a></li>
							<li><a href="#" title="Associação Ministerial">Associação Ministerial</a></li>
							<li><a href="#" title="Aventureiros">Aventureiros</a></li>
							<li><a href="#" title="Desbravadores">Desbravadores</a></li>
							<li><a href="#" title="Educação">Educação</a></li>
							<li><a href="#" title="Escola Sabatina">Escola Sabatina</a></li>
							<li><a href="#" title="Espírito de Profecia">Espírito de Profecia</a></li>
							<li><a href="#" title="Evangelismo Integrado">Evangelismo Integrado</a></li>
							<li><a href="#" title="Liberdade Religiosa">Liberdade Religiosa</a></li>
							<li><a href="#" title="Ministério da Comunicação">Ministério da Comunicação</a></li>
							<li><a href="#" title="Ministério da Criança">Ministério da Criança</a></li>
							<li><a href="#" title="Ministério da Família">Ministério da Família</a></li>
							<li><a href="#" title="Ministério da Mulher">Ministério da Mulher</a></li>
							<li><a href="#" title="Ministério da Música">Ministério da Música</a></li>
							<li><a href="#" title="Ministério da Saúde">Ministério da Saúde</a></li>
							<li><a href="#" title="Ministério de Publicações">Ministério de Publicações</a></li>
							<li><a href="#" title="Ministério do Adolescente">Ministério do Adolescente</a></li>
							<li><a href="#" title="Ministério Jovem">Ministério Jovem</a></li>
							<li><a href="#" title="Ministério Pessoal">Ministério Pessoal</a></li>
							<li><a href="#" title="Missão Global">Missão Global</a></li>
							<li><a href="#" title="Mordomia Cristã">Mordomia Cristã</a></li>
							<li><a href="#" title="SALT">SALT</a></li>
							<li><a href="#" title="Voluntários">Voluntários</a></li>
						</ul>
					</div>
					<div class="col-md-2 visible-md visible-lg">
						<h1>Sedes Regionais</h1>
						<ul>
							<li><a href="#" title="União Argentina">União Argentina</a></li>
							<li><a href="#" title="União Boliviana">União Boliviana</a></li>
							<li><a href="#" title="União Central Brasileira">União Central Brasileira</a></li>
							<li><a href="#" title="União Centro-Oeste Brasileira">União Centro-Oeste Brasileira</a></li>
							<li><a href="#" title="União Chilena">União Chilena</a></li>
							<li><a href="#" title="União Equatoriana">União Equatoriana</a></li>
							<li><a href="#" title="União Leste Brasileira">União Leste Brasileira</a></li>
							<li><a href="#" title="União Nordeste Brasileira">União Nordeste Brasileira</a></li>
							<li><a href="#" title="União Noroeste Brasileira">União Noroeste Brasileira</a></li>
							<li><a href="#" title="União Norte Brasileira">União Norte Brasileira</a></li>
							<li><a href="#" title="União Paraguaia">União Paraguaia</a></li>
							<li><a href="#" title="União Peruana do Norte">União Peruana do Norte</a></li>
							<li><a href="#" title="União Peruana do Sul">União Peruana do Sul</a></li>
							<li><a href="#" title="União Sudeste Brasileira">União Sudeste Brasileira</a></li>
							<li><a href="#" title="União Sul Brasileira">União Sul Brasileira</a></li>
							<li><a href="#" title="União Uruguaia">União Uruguaia</a></li>
						</ul>
					</div>
					<div class="col-md-2 visible-md visible-lg">
						<h1>Contextual</h1>
						<ul>
							<li><a href="#" title="Nome do Link">Nome do Link</a></li>
							<li><a href="#" title="Nome do Link">Nome do Link</a></li>
							<li><a href="#" title="Nome do Link">Nome do Link</a></li>
							<li><a href="#" title="Nome do Link">Nome do Link</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-4 col-md-offset-1 info">
						<address>
							<h1>Divisão Sul-Americana</h1>
							<p>Av. L3 Sul, SGAS 611 - Conj. D, Parte C,</p>
							<p>Asa Sul - Brasília, DF - CEP 70200-710</p>
							<p>Tel. (61) 3701-1818</p>
							<ul class="social-media">
								<li><a href="#" title="Acesse a fanpage no Facebook" class="facebook" target="_blank">Facebook</a></li>
								<li><a href="#" title="Acesse o perfil no Twitter" class="twitter" target="_blank">Twitter</a></li>
								<li><a href="#" title="Acesse o perfil no Google+" class="google" target="_blank">Google+</a></li>
								<li><a href="#" title="Acesse o canal no Youtube" class="youtube" target="_blank">Youtube</a></li>
								<li><a href="#" title="Assine o RSS" class="rss" target="_blank">RSS</a></li>
							</ul>
						</address>
						<address>
							<h1>União Central Brasileira</h1>
							<p>Av. L3 Sul, SGAS 611 - Conj. D, Parte C,</p>
							<p>Asa Sul - Brasília, DF - CEP 70200-710</p>
							<p>Tel. (61) 3701-1818</p>
							<ul class="social-media">
								<li><a href="#" title="Acesse a fanpage no Facebook" class="facebook" target="_blank">Facebook</a></li>
								<li><a href="#" title="Acesse o perfil no Twitter" class="twitter" target="_blank">Twitter</a></li>
								<li><a href="#" title="Acesse o perfil no Google+" class="google" target="_blank">Google+</a></li>
								<li><a href="#" title="Acesse o canal no Youtube" class="youtube" target="_blank">Youtube</a></li>
								<li><a href="#" title="Assine o RSS" class="rss" target="_blank">RSS</a></li>
							</ul>
						</address>
						<p class="copyright">Copyright © 2012 - 2013<br/>Igreja Adventista do Sétimo Dia<br />Todos os direitos reservados</p>
						<a class="back-top hidden-md hidden-lg">Voltar ao topo</a>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>