<!DOCTYPE html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>IASD Bootstrap</title>
		<link href="/static/css/music.css" rel="stylesheet" media="screen">
		<!--[if lt IE 9]>
			<script src="/static/lib/ltie9.min.js"></script>
		<![endif]-->
		<title>IASD Bootstrap</title>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-7 identifier">
						<div class="brand">
							<a href="#" title="Clique aqui para retornar à página inicial">Ministério da Música</a>
						</div>
						<div class="title">
							<hgroup>
								<h1>Ministério da Música</h1>
								<h2>Associação Paulistana (AP)</h2>
							</hgroup>
						</div>
					</div>
				</div>
			</div>
		</header>

	</body>
</html>